/**
 * $Id: $
 */
body
{
    background-color: #e6e6e6;
    padding: 0;
    color: #333;
    margin: 0;
    font-size: 90%;
    font-family: Verdana, Arial, sans-serif;
    background-repeat: repeat;
    text-align: center; /* ie 5 center fix */
}

img
{
	border:0;
}

a.linkexternal { padding-right: 12px; background: url(images/linkexternal.png) no-repeat right; }

#wrapper
{
    text-align: left; /* ie 5 center fix */
    width: 776px;
    background-color: #fff;
    color: inherit;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #111;
}

#top_menu
{
    background-color: #111;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
}

#top_menu ul
{
    margin: 0;
    padding: 0;
    text-align: right;
}

#top_menu li
{
    display: inline;
    list-style: none;
}

#top_menu a:link, #top_menu a:visited 
{
    color: #fff;
    background-color: inherit;
    text-decoration: none;
    text-transform: lowercase;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}    

#top_menu a:hover, #top_menu a:active 
{
    background-color: #1d415b;
    color: inherit;
}

#site_logo
{
  color: #fff;
  padding: 20px;
  font-size: 160%;
  font-weight: bold;
}

#languages
{
  color: #fff;
  font-size: 10px;
  font-weight: normal;
}

#languages a:link, #languages a:visited
{
  color: #fff;
  background-color: inherit;
  text-decoration: none;
  text-transform: lowercase;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
}    

#languages a:hover, #languages a:active 
{
  color: #68befb;
}

#footer
{
    clear: both;
    background-color: #666666;
    color: #fff;
    font-size: 90%;
    padding: 2px;
    text-align: center;
}

#lefty
{
    padding: 10px;
    float: left;
    width: 120px;
}

#lefty li
{
    list-style: none;
    border-bottom: 1px solid #eee;
}

#lefty ul
{
    margin-left: 0px;
    padding-left: 0px;
    line-height: 1.6em;
}

#lefty a:link, #lefty a:visited
{
    text-decoration: none;
    color: #000066;
    background-color: inherit;
    display: block;
}

#lefty a:hover, #lefty a:active
{
    color: #880000;
    background-color: inherit;
}

#righty
{
    padding: 10px;
    float: left;
    width: 615px;
    border-left: 1px solid #eee;
    line-height: 1.4em;
}

h1
{
    font-size: 120%;
    color: #075181;
    background-color: inherit;
}

h2 
{
    font-size: 110%;
    color: #222;
    background-color: inherit;
}

h3
{
    font-size: 100%;
    color: #075181;
    background-color: inherit;
}

#header
{
    color: inherit;
    background-color: #1d415b;
    background-image: url("images/panel.png");
    background-repeat: no-repeat;
    height: 80px;
    text-align: right;
}

#header img
{
    border: 0px;
    padding-top: 18px;
    padding-right: 5px;
}

#breadcrumb
{
    text-align: right;
    font-size: 90%;
    color: #333;
    background-color: inherit;
}

#breadcrumb a:link, #breadcrumb a:visited
{
    text-decoration: none;
    color: #003;
    background-color: inherit;
}

#breadcrumb a:hover, #breadcrumb a:active
{
    color: #300;
    background-color: inherit;
}

blockquote
{
    padding: 10px;
    background-color: #fbfbfb;
    color: inherit;
    border-left: 8px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.block
{
    background-color: #ffffcc;
    color: inherit;
    border: 1px solid #eee;
    padding: 10px;
}

.block-help
{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    background-color: #fbfbfb;
    color: inherit;
    border-left: none;
    border-top: 1px solid #eee;
    border-right: none;
    border-bottom: 1px solid #eee;
    font-size: 80%;
    width: 98%;
}

input
{
    background-color: #fafafa;
    color: inherit;
    border: 1px solid #ccc;
}

input:hover
{
    background-color: #ffffcc;
    color: inherit;
}

.button
{
    padding: 4px;
    background-color: #075181;
    color: #fff;
}

.button:hover
{
    background-color: #0C7ECA;
    color: #fff;
}

table
{
    margin: 10px;
}

td
{
    border: 1px solid #eee;
    padding: 2px;
}

th
{
    background-color: #eee;
    color: inherit;
    border: 1px solid #ddd;
    padding: 2px;
}

#footer a
{
  color: #fff;
}

.high
{
  color: #68BEFB;
}

#faq-q
{
    color: #075181;
    font-weight: bold;
}
#faq-a
{
    color: #369634;
    font-weight: bold;
}
.dashed
{
        width: 100%;
        clear: left;
        margin: -8px 0 0 0;
        padding: 2px 0 8px 0;
        border-bottom: 1px solid #eee;
}

#demonote
{
    color: #075181;
    font-weight: normal;
}

#headermember {
    color: #ccc;
    background-color: #333;
    height: 14px;
    text-align: right;
    font-size: 10px;
}

#headermember a {
    color: #fff;
    font-weight: bold;
}
#headermember a:hover {
    color: #ccc;
}

/* forms */
form {
    margin: 0;
    padding: 0;
    font-size: 100%;
    width: 100%;
}

form fieldset {
    clear: both;
    font-size: 100%;

    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    border: 1px solid #d0d8da;
}

form fieldset legend {
    color: #075181;
    font-size: 90%;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0 5px;
}

form fieldset div {
    float: left;

    /* white-space: nowrap; */
    width: 550px;
    height: expression('1%');
    margin: 3px 0 0 0;
}

form fieldset div label {
    display: block;
    float: left;
    width: 130px;
    padding-right: 5px;
    text-align: right;
}

form div.buttonrow {
    width: 460px;
    padding: 0 0 0 145px;
}

form div.buttonrow div.saving {
    float: right;
    padding: 0px;
    margin: 0px;
}

form div.optional label, label.optional { font-weight: normal; }
form div.required label, label.required { font-weight: bold; }

form fieldset div.fieldnotes {
    font-size: 90%;
    font-weight: normal;
    padding-left: 10px;
    color: #a0a9af;
}

form fieldset div textarea.filecontent {
    width: 580px;
    height: 120px;
}

form fieldset div textarea.htmlcontent {
    width: 580px;
    height: 240px;
}

/* common */

div.spacer30 {
    height: 30px;
}

/* messages */

div.message {
    clear: both;

    color: #30a030;
    font-weight: bold;
    border: 1px solid #0a0;
    padding: 1px;

    margin: 0 auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

div.warning {
    background-image: url(images/warning.gif);
    background-repeat: no-repeat;
    background-position: top left;

    padding: 3px 0 3px 27px;
    margin: 3px;

    color: #FF3030;
    font-weight: bold;
    border: 1px solid #a00;
}

div.warning .fixit a {
    padding-right: 10px;
    color: #303030;
}

div.warning .action {
    color: #333;
}


#demomessage {
    padding: 5px;
    background: #F00000;
    border: 1px solid #c0c0c0;
    color: #F0F0F0;
    text-align: center;
    font-size: 110%;
}


/* *** NOTES *** */
div.pagenotes {
    width: 550px;

    height: auto;

    margin: 0 auto;
    margin-bottom: 30px;
    padding: 3px;

    font-size: 88%;
    color: #666666;

    border: 1px solid #999999;
    background-color: #ffffe1;
}
div.pagenotes h4 {
    background-image: url(images/icon_info.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 3px 0 3px 27px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #666666;
    color: #666666;
    font-size: 110%;
    margin: 0;
}

div.pagenotes div .name {
    font-size: 88%;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
    padding-right: 5px;
}

div.pagenotes div .value {
    font-size: 90%;
    text-align: left;
}


/* the end of NOTES */


/* list */

.list {
    clear: both;
    width: 600px;

    margin: 0 auto;
    border: 1px solid #bbb;
    padding: 2px;

    font-size: 100%;
}

.list .header {
    background: #a0a0C0;
    color: #303030;
    font-weight: bold;

    height: 30px;
}
.list #check { text-align: center; width: 20px; }
.list #name { width: 150px; }
.list #action { text-align: center; width: 150px; }

div.listActions {
    padding-left: 10px;
    padding-right: 10px;

    font-size: 90%;
    font-family: helvetica, arial;

    background: #f6f8fa;
    height: 20px;
    margin-top: 10px;
}

div.listActions .listLeft {
    float: left;
}

div.listActions select {
    margin-left: 3px;
    margin-right: 3px;
}

div.listActions .listRight {
    float: right;
}

/* stepper */

div.stepper {
    padding-left: 10px;
    padding-right: 10px;
    clear: both;

    font-size: 90%;
    font-family: helvetica, arial;

    background: #f6f8fa;
    height: 20px;
    margin-bottom: 10px;
}

div.stepper .pageinfo {
    float: left;
}

div.stepper .pagerecords {
    float: left;
    padding-left: 10px;
}

div.stepper .pageinfo span {
    font-weight: bold;
}

div.stepper select {
    font-size: 90%;
    margin-left: 3px;
    margin-right: 3px;
}

div.stepper .pages {
    float: right;
    color:#8E8E8E;
}

div.stepper .pages a {
    color:#5976BC; 
    font-family: helvetica, arial;
    font-size: 85%;
    font-weight:bold; 
    margin:0 1px; 
    padding:1px 2px;
    background:#FeFeFF;
    border:1px solid #cfcfff;
}

div.stepper .pages a:hover {
    color:#ff9900; 
    background:#c0c0ff;
    border:1px solid #cfcfff;
}

div.stepper .pages a.active {
    color:#fff;
    background:#666;
    border:1px solid #666;
}

/* redirect message */
.redirect {width: 450px; background-color: #1d415b; border: #aaa 2px solid; margin: 110px; text-align: center; padding: 15px; ; color: #ccc; }
.redirect a:link {color: #F0F0F0; text-decoration: none; font-weight: bold;}
.redirect a:visited {color: #FFFFFF; text-decoration: none; font-weight: bold;}
.redirect a:hover {color: #FFFFFF; text-decoration: underline; font-weight: bold;}
.redirect span { font-size: 19px; font-weight: bold; }
.redirect hr { height: 5px; border: 2px solid #aaa; width: 85%; }

/* menu items */
.green-item{
    background:#ACE1AC;
}
.cyan-item{
    background:#E1E9FD;
}
.yellow-item{
    background:#FFEBC3;
}
.warn-item{
color:#000;
    background:#FFE1E1;
}
.actions{
    list-style-type:disc;
    list-style-image:url("images/action.gif");
    margin:5px auto 10px 2px;
    padding:0;
}
.actions li{
    padding-bottom:1px;
}

/* member news, rss items */
#home-news {
    background-color: #e6e6e6;
    padding: 10px;
    color: #333;
    font-size: 90%;
    font-family: Verdana, Arial, sans-serif;
}
#home-news #home-news-caption {
    font-size: 120%;
    margin-bottom: 10px;
    color: #075181;
    font-weight: bold;
    background-color: inherit;
}
#home-news #item {
    border-bottom: 1px solid #ccccff;
    padding: 3px;
    margin: 5px;
}
#home-news #title a:hover, #home-news #title a:active, #home-news #title a:visited {
    font-size: 120%;
    color: #0000CC;
    background-color: inherit;
}
#home-news #description {
    color: #000;
    background-color: inherit;
}
